
@using BlazorStyled

<Styled @bind-Classname=@ComponentStyle>
    width: 240px;
    height: 120px;    
    position: absolute;
    left: 2.8vh;
    top: @ConfirmationTopStyle;
    display: @DisplayStyle;
    z-index: 37;
</Styled>

<div class="@ComponentStyle">    
    <div class="displayinlineblock colorgray204 fontsize16">@Prompt</div><br />
    <div class="text-nowrap">
        <button class="@YesButtonStyle" @onclick="YesClicked"></button>
        <button class="@NoButtonStyle" @onclick="NoClicked"></button>
    </div>
</div>