@page "/Gallery/{UserName}/{FolderName}"
@using ObjectLibrary.BusinessObjects
@using DataJuggler.BlazorGallery.Components
@using DataJuggler.UltimateHelper

<PageTitle>Gallery</PageTitle>
    
@if ((HasSelectedFolder) && (SelectedFolder.HasImages))
{
    <div class="flex-grid">
        @foreach (Image image in SelectedFolder.Images)
        {
            @if (ListHelper.HasOneOrMoreItems(GalleryLikes))
            {
                // has this user already like this image ?
                ImageLike like = GalleryLikes.FirstOrDefault(x => x.ImageId == image.Id);

                // if the like exists
                if (NullHelper.Exists(like))
                {
                    <ImageViewer LikeButtonEnabled=false Parent="this" Image=@image></ImageViewer>
                }
                else
                {
                    <ImageViewer LikeButtonEnabled=(HasLoggedInUser) Parent="this" Image=@image></ImageViewer>
                }
            }
            else
            {
                <ImageViewer LikeButtonEnabled=(HasLoggedInUser) Parent="this" Image=@image></ImageViewer>
            }
        }
    </div>
}


