@inherits LayoutComponentBase
@using ObjectLibrary.BusinessObjects
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Interfaces

<PageTitle>Blazor Gallery</PageTitle>

<div class="page">    
    <main>
        <div class="sidebar">
            <div class="nav-scrollable">
                <nav class="flex-column">
                    <div class="logo"></div>   
                    <div class="folders down16">
                        <div class="colorwhite right32 fontsize18">
                            Folders
                        </div>
                        <div class="height8"></div>
                        @if (HasFolders)
                        {
                            foreach (Folder folder in Folders)
                            {
                                <div class="nav-item px-3">
                                    @if (folder.Selected)
                                    {  
                                        SelectedFolder = folder;
                                        <button class="imagefolder right16 fontbold"><span class="colorblue right64">@folder.Name</span></button>
                                    }
                                    else
                                    {
                                        <button class="imagefolder right16" @onclick="() => FolderSelected(folder.Id)"><span class="colorwhite right64">@folder.Name</span></button>
                                    }
                                </div>
                            }
                        }
                    </div>
                    <button class="addbutton" title="Add A New Folder" @onclick=AddFolder>
                    </button>
                    @if (AddFolderMode)
                    {
                        <div class="down32">
                            <ValidationComponent Name="NewFolderNameComponent" Parent="this" LabelTop="8" SetFocusOnFirstRender="true"
                                Width="164" Caption="Name:" Unit="px" LabelWidth="80"></ValidationComponent>
                        </div>
                    }
                </nav>
            </div>
        </div>
        <article class="content px-4">
            <DataJuggler.BlazorGallery.Pages.Index Parent="this"></DataJuggler.BlazorGallery.Pages.Index>
        </article>
    </main>
</div>
