@page "/"
@page "/User/{UserName}/{FolderName}"
@using ObjectLibrary.BusinessObjects
@using DataJuggler.BlazorGallery.Components

<PageTitle>Index</PageTitle>

@if (HasLoggedInUser)
{    
    @if ((HasSelectedFolder) && (SelectedFolder.HasImages))
    {
        <div class="flex-grid">
            @foreach (Image image in SelectedFolder.Images)
            {
                <ImageViewer LikeButtonEnabled=false Parent="this" Image=@image></ImageViewer>
            }
        </div>
    }
}

